.section-5{
    padding: 10%;
    background-color: #f6f7f9;
 
}

.rounded-pill{
    background-color: pink;
    padding: 5% 20%;
    color: white;
}
.button-email{
  
  margin :0px;
  position: absolute;
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
}
.email-icon{
    color: grey;
    position: relative;
    font-size: 25px;
    margin: auto;
    padding: 0.9% 5%;
    font-size-adjust: auto;
    
}

.input-group{
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    border-bottom: 0px;
    outline: none;
    
}
.form-control{
    margin: 0px;
    width: 80%;

    border: 0px;
}